.App {
  text-align: center;
  /* display: flex; */
}

.App-link {
  color: #61dafb;
}

#refresh {
  cursor: pointer;
  padding:0.5em;
  border: 1px solid aqua;
  border-radius: 0.25em;
  color:black;
  background-color: aqua;
  margin: 1em 7em 0em 1em;
}

.userDetails{
  margin: 4em 0em 0em 3em;
}
